
.main_container {
    height: 20rem;
    padding: 0 1rem 1rem 1rem;
    width: 24rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: center;
}

.profileDetailWrapper {
    width: 85%;
    padding: 16px 0;
}

.profileDetailWrapper p {
    margin-bottom: 5px;
    font-weight: 600;
}

.avatar{
    width: 3.5rem !important;
    height: 3.5rem !important;
}