
.main_container {
    height: 20rem;
    padding: 1rem;
    width: 24rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileDetailWrapper {
    width: 85%;
}